body {
  background-color: azure;
}
p,
small,
label {
  font-family: "Open Sans";
}
.img {
  width: 36%;
}

.encabezado {
  font-weight: bolder;
}

.icon-facebook {
  color: blue;
  font-size: 1.6em;
}

.icon-twitter {
  color: #00acee;
  font-size: 1.6em;
}

.icon-instagram {
  color: #f62626;
  font-size: 1.6em;
}

.icon-linkedin {
  color: #0e76a8;
}

.linea {
  height: 1px;
  width: 30%;
  background-color: #e0e0e0;
  margin-top: 12px;
}
.o {
  width: 40%;
  font-weight: bold;
}

.registro {
  text-decoration: none;
  color: blue;
}

.footer {
  font-weight: bold;
  font-size: 16px;
}
