body {
  background-color: azure;
}
p,
small,
label {
  font-family: "Open Sans";
}
i {
  font-size: 20px;
}
.img {
  width: 36%;
}

.encabezado {
  font-weight: bolder;
}

.icon-facebook {
  color: #1d93df;
  font-size: 1.6em;
}

.icon-twitter {
  color: #00acee;
  font-size: 1.6em;
}

.icon-instagram {
  color: #f62626;
  font-size: 1.6em;
}

.icon-linkedin {
  color: #0e76a8;
}

.linea {
  height: 1px;
  width: 30%;
  background-color: #e0e0e0;
  margin-top: 12px;
}
.o {
  width: 40%;
  font-weight: bold;
}

.registro {
  text-decoration: none;
  color: #1d93df;
  font-size: 16px;
}

.btn-ingresar {
  border-color: #1d93df;
}

.btn-ingresar:hover {
  background-color: #1d93df;
}

.restablecer {
  text-decoration: none;
  color: #1d93df;
}

.footer {
  font-weight: bold;
  font-size: 16px;
}

.ocultar {
  display: none;
}

.mostrar {
  display: block;
}
/* Estilos de la modal de registro de usuario */
.header-modal,
.modal-footer {
  background-color: #1d93df;
  color: #ffffff;
}

.btn-cancelar,
.btn-registrar {
  color: #ffffff;
  border-color: #ffffff;
}

.modal-body {
  background-color: azure;
  font-weight: bold;
}
