<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>inicio</title>

    <!-- Css -->
    <link rel="stylesheet" href="../Styles/css/style/index.css">
    <link rel="stylesheet" href="../Styles/css/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="../Styles/font/bootstrap-icons.css">

    <!-- Js -->
    <script src="../Styles/js/bootstrap/bootstrap.js"></script>

    <!--Estilos de letra-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&display=swap">
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 menu-vertical pt-3">
                <div class="container-fluid logo">
                    <img src="../Styles/img/unnamed.png" class="mx-auto d-block img-fluid" width="160" alt="logo">
                </div>

                <div class="contenerdor-fluid pt-5">
                    <ul>
                        <li>
                            <a class="active" href="#home">
                                <i class="bi bi-house"></i> Inicio
                            </a>
                        </li>
                        <li>
                            <a href="#news">
                                <i class="bi bi-search"></i> Bucar
                            </a>
                        </li>
                        <li>
                            <a href="#contact">Configuracion</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-9"></div>
        </div>
    </div>
</body>

</html>